<div>
    <ul class="menu">
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li>
            <a href="{% url 'adminka:users' %}">админка</a>
        </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>
        <li class="menu-link">
            <a href="{% url 'main' %}">Главная</a>
        </li>
        <li class="menu-link">
            <a href="{% url 'catalog' %}">Каталог</a>
        </li>
        <li class="menu-link">
            <a href="{% url 'contacts' %}">Контакты</a>
        </li>
        <li><a href="{% url 'basket:view' %}" class="basket">
            {% if basket %}В корзине: {{ basket.0.total_quantity }} шт{% endif %} на стоимость {{ basket.0.total_cost|floatformat:0 }} руб.
        </a>
        </li>
    </ul>
</div>
