<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>КНИЖНАЯ КЛАССИКА</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/work5.css' %}">
</head>

<body>
    <div class="container">

            <div class="page-header">
                <h1>Книжная классика <small></small></h1>

            {% include "mainapp/includes/inc_menu.html" %}
            </div>

                <nav class="navbar navbar-default">
            <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li><a href="{% url 'catalog' %}">Все книги</a></li>
            {% for category in categories %}
            <li><a href="{% url 'catalog-list' category.id %}">{{ category }}</a></li>
            {% endfor %}
        </ul>

                </div>
            </div>
        </nav>
            <div>

         <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ book.cover.url }}" height="200">
    </a>
      <h3>{{ book.author }} <br>{{ book.title }} <span class="label label-default"></span></h3>


  </div>
  <div class="media-body">
    <h4 class="media-heading">
        {{ book.price }} руб. <br>
        <a href="{% url 'basket:add' book.pk %}" class="btn btn-primary btn-lg active" role="button">КУПИТЬ</a>
                         <br>
        <div class="description">{{ book.description }}</div><br> Количество страниц - {{ book.counts_of_sheets }}
                            {% if book.format %}
                            Формат {{ book.format.height }}*{{ book.format.width }} мм
                            {% endif %}</h4>

  </div>
</div>
            </div>
    <div>
                {% include "mainapp/includes/inc_footer.html" %}
    </div>
    </div>

            </div>
        </div>
    </div>

</body>

</html>