<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>КНИЖНАЯ КЛАССИКА</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/work5.css' %}">

<body>
<div class="container">
   <div class="page-header">
                <h1>Книжная классика <small></small></h1>

            {% include "mainapp/includes/inc_menu.html" %}
            </div>
    <div class="main-content">
        <div class="page-header">
  <h1><small>Что у нас есть</small></h1>
</div>
</div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li><a href="{% url 'catalog' %}">Все книги</a></li>
            {% for category in categories %}
            <li><a href="{% url 'catalog-list' category.id %}">{{ category }}</a></li>
            {% endfor %}
        </ul>

                </div>
            </div>
        </nav>
</div>


{% for row in rows_of_products %}
<div class="row">
    {% for product in row %}
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="{% url 'book' product.id %}"><img class="book-img" src="{{ product.cover.url }}"></a>
      <div class="caption">
        <h3>{{ product.author }}<br>{{ product.title }}</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>

  </div>
    {% endfor %}
</div>
{% endfor %}

</body>

