<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>КНИЖНАЯ КЛАССИКА</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/work5.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-mag">
                <a class="logo-link" href="/">
                    <img class="logo" src="static/img/1.png">
                </a>
                Книжная классика
            </div>
            {% include "mainapp/includes/inc_menu.html" %}
        </div>
        <hr>
        <h2>Приветствуем, {{ username | default_if_none:"%юзернейм%" | title }}</h2>
        <div class="main-content">
            <p>Покупайте лучшие книги по лучшей цене</p>
        </div>
                {% include "mainapp/includes/inc_footer.html" %}
    </div>
</body>

</html>