<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>КНИЖНАЯ КЛАССИКА</title>
    <link rel="stylesheet" href="{% static 'css/work5.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-mag">
                <a class="logo-link" href="/">
                    <img class="logo" src="static/img/1.png">
                </a>
                Книжная классика
            </div>
            {% include "mainapp/includes/inc_menu.html" %}
        </div>
        <hr>
        <h1>Привет{{ username | title }}</h1>
        <div class="main-content">
            <p>Покупайте лучшие книги по лучшей цене</p>
        </div>
                {% include "mainapp/includes/inc_footer.html" %}
    </div>
</body>

</html>