<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>КНИЖНАЯ КЛАССИКА</title>
    <link rel="stylesheet" href="{% static 'css/work5.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-mag">
                <a class="logo-link" href="/">
                    <img class="logo" src="static/img/1.png">
                </a>
                Книжная классика
            </div>
            <div>
            {% include "mainapp/includes/inc_menu.html" %}
            </div>
        </div>
        <div class="main-content">
            <ul class="catalog-menu">
                <li><a href="/catalog">Все книги</a></li>
                <li><a href="/rusclassic">Русская классика</a></li>
                <li><a href="/amclassic">Американская классика</a></li>
            </ul>
            <div>

                <div class="productinfo">
                    <div>

                        <a href="static/img/nakaz.jpg" target="_blank">
                            <img src="static/img/nakaz.jpg" height="200">
                        </a>
                    </div>
                    <div>
                        <h2 class="title">Фёдор Достоевский "Преступление и наказание"</h2>
                        <div class="price">
                            120 руб.
                        </div>
                        <button type="button" class="book-buy">Купить</button>
                        <p class="description">Основой сюжета романа «Преступление и наказание» является убийство, совершенное главным героем.<br> Количество страниц - 608, Формат 130*200 мм</p>
                    </div>
                </div>
                {% include "mainapp/includes/inc_footer.html" %}
            </div>
</body>

</html>