<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <title>КНИЖНАЯ КЛАССИКА</title>
    <link rel="stylesheet" href="{% static 'css/work5.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-mag">
                <a class="logo-link" href="index.html">
                    <img class="logo" src="images/1.png">
                </a>
                Книжная классика
            </div>
            <div>
            {% include "mainapp/includes/inc_menu.html" %}
            </div>
        </div>
        <div class="main-content">
            <ul class="catalog-menu">
                <li><a href="catalog.html">Все книги</a></li>
                <li><a href="rusclassic.html">Русская классика</a></li>
                <li><a href="amclassic.html">Американская классика</a></li>
            </ul>
            <div>

                <div class="productinfo">
                    <div>

                        <a href="images/nakaz.jpg" target="_blank">
                            <img src="images/nakaz.jpg" height="200">
                        </a>
                    </div>
                    <div>
                        <h2 class="title">Фёдор Достоевский "Преступление и наказание"</h2>
                        <div class="price">
                            120 руб.
                        </div>
                        <button type="button" class="book-buy">Купить</button>
                        <p class="description">Основой сюжета романа «Преступление и наказание» является убийство, совершенное главным героем.<br> Количество страниц - 608, Формат 130*200 мм</p>
                    </div>
                </div>

                <div class="footer">
                    <div class="footer-bottom">
                        <div class="footer-item">
                            <ul class="footer-copy">
                                <li>&copy;Все права защищены</li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            (function() {
                                if (window.pluso)
                                    if (typeof window.pluso.start == "function") return;
                                if (window.ifpluso == undefined) {
                                    window.ifpluso = 1;
                                    var d = document,
                                        s = d.createElement('script'),
                                        g = 'getElementsByTagName';
                                    s.type = 'text/javascript';
                                    s.charset = 'UTF-8';
                                    s.async = true;
                                    s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                    var h = d[g]('body')[0];
                                    h.appendChild(s);
                                }
                            })();
                        </script>
                        <div class="pluso footer-item" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,pinterest"></div>
                        <div class="footer-item"></div>
                    </div>

                    <div class="footer-top">
                        <div class="footer-item">
                            Свяжитесь с нами
                            <ul class="footer-list">
                                <li>+7(812)3325566</li>
                                <li>Санкт-Петербург, Лиговский проспект, дом 116</li>
                                <li>
                                    <a href="mailto:superbooks@gmail.com">superbooks@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-item">
                            Полезная информация
                            <ul class="footer-list">
                                <li>
                                    <a href="index.html">Отдел продаж</a>
                                </li>
                                <li>
                                    <a href="index.html">Поддержка клиентов</a>
                                </li>
                                <li>
                                    <a href="index.html">Доставка</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-item">
                            <ul class="footer-list">
                                <li>Карьера у нас</li>
                                <li>Обмен и возврат</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>